p{
    text-align: center;
    background-color: aqua;
}

div{
    text-align: center;
    background-color: goldenrod;
}
span{
    text-align: center;
}
p3{
    text-align: center;
    background-color: cornflowerblue;
    
}


